

.navbar-default {

    border-color: black;
    min-height: 80px;

  }
  ul {
      list-style-type: none;
      margin: 0;
      padding-top: 20px;
      overflow: hidden;
      background-color: #333;

  }

  li {
      float: left;
      padding-left: 70px;
     margin-bottom: 3em;

  }
  .user {
    float: right;
      padding-right: 0px 50px;
  }
  li a {
      display: block;
      color: white;
      text-align: center;
      padding: 30px 16px;
      text-decoration: none;
  }
  .logo {
      position: absolute;
      left: 50%;
      margin-left: 20px;
      padding: 5px;
  }
  img {
    border-radius: 6px;
  }

body {
  background-image: url("background.png");
  background-size: cover;


}



div.transbox {
    border-radius: 25px;
    margin: 60px;
    background-color: #ffffff;

    border: 1px solid black;
    opacity: 0.6;
    filter: alpha(opacity=60); /* For IE8 and earlier */
    padding: 25px;
}


section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}
body,h1 {font-family: "Raleway", sans-serif}
body, html {height: 100%}

input[type="button"], input[type="submit"] {
    margin-top: 20px;
    border-radius: 25px;
}

#error_explanation{
  color: red;
  font-size: 180%;
}
table.users {
   border-collapse: separate;
    border-spacing: 50px 0;
}

tr {
  vertical-align: top;
}

 .product-list {
    padding-right: 30px;
    padding-bottom: 30px;
}

.product-pic {
  width: auto;
  height: 400px;
  opacity: 1;
}
  .notice {
  text-align: center;
  background-color: #ffffff;
  opacity: 0.5;
  filter: alpha(opacity=60);
  z-index: 999;
  position: fixed;
  font-weight: bold;
  width: 96%;
  margin:10px;
  border-radius: 9px;
}



 #reviews {
   color: white;
   border-radius: 12px;
 }


 #review-title {
   color: #fff0b3;
    text-decoration: underline;
 }

 #review-created {
   font-style: oblique;
   color: #fff0b3;
 }

 * {
  box-sizing: border-box;
}
#count {
  background: #9F0;
  width: 10%;
  height: 100px;
  text-align: center;
  line-height: 100px;
  font-size: 64px;
  margin: 0;
  border: 3px solid green;
  border-radius: 5px;
}

.button {
  background: #09F;
  width: 5%;
  height: 50px;
  text-align: center;
  line-height: 50px;
  font-size: 32px;
  border: 3px solid blue;
  border-radius: 5px;
}

.button, #count {
  float: left;
}

#minus {
  margin: 25px 2.5% 0 37.5%;
}

#plus {
  margin: 25px 37.5% 0 2.5%;
}

.index_header {
  padding-bottom: 10px
}
