

.navbar-default {

    border-color: black;
    min-height: 80px;
  }
  ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #333;
  }

  li {
      float: left;
      padding-left: 70px;

  }
  .user {
    float: right;
      padding-right: 70px;
  }
  li a {
      display: block;
      color: white;
      text-align: center;
      padding: 30px 16px;
      text-decoration: none;
  }
  .logo {
      position: absolute;
      left: 50%;
      margin-left: 20px;
      padding: 5px;
  }
  img {
    border-radius: 6px;
  }

body {
  background-image: url("background.png");
  background-size: cover;
   border: 1px solid black;
}



div.transbox {
    border-radius: 25px;
    margin: 30px;
    background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.6;
    filter: alpha(opacity=60); /* For IE8 and earlier */
    padding: 25px;
}


section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}
body,h1 {font-family: "Raleway", sans-serif}
body, html {height: 100%}

.submit-button {
    border-radius: 25px;
}

#error_explanation{
  color: red;
  font-size: 180%;
}
table {
    border-collapse: collapse;
}


 .product-list {
    padding-right: 30px;
    padding-bottom: 30px;
}

.product-pic {
  width: auto;
  height: 400px;
}
